In [1]:
import pyodbc
import pandas as pd
import numpy as np

In [2]:
conn = pyodbc.connect('Driver={SQL Server Native Client 11.0};'
                      'Server=localhost;'
                      'Database=Class_MetaData;'
                      'Trusted_Connection=yes;')

In [3]:
Insert_BusinessTerm_has_Attribute = '''
Truncate Table [dbo].[BusinessTerm_has_Attribute];
Insert into [BusinessTerm_has_Attribute] 
select A.BusinessID, B.AttributeId from BusinessTerm A
join Attribute B
on A.BusinessTerms = B.AttributeName;
'''

Insert_Database_has_Attribute = '''Truncate Table [dbo].[Database_has_Attribute];
Insert into [Database_has_Attribute] 
select A.DatabaseId, B.AttributeId  from [Database] A
join Attribute B
on A.DatabaseName = B.DatabaseName;'''

Insert_Entitiy_has_Attribute = '''
Truncate Table [dbo].Entitiy_has_Attribute;
Insert into [Entitiy_has_Attribute] 
select A.EntitiyId, B.AttributeId  from [Entitiy] A
join Attribute B
on A.EntitiyName = B.EntityName;'''

Insert_Entitiy_has_Database = '''
Truncate Table [dbo].Entitiy_has_Database;
Insert into Entitiy_has_Database 
select A.EntitiyId, B.DatabaseId  from [Entitiy] A
join [Database] B
on A.DatabaseName = B.DatabaseName;'''

Insert_Entitiy_has_Relations = '''
Truncate Table [dbo].Entitiy_has_Relations;
Insert into Entitiy_has_Relations 
select A.EntitiyId, B.RelationID  from [Entitiy] A
join [Relations] B
on A.EntitiyName = B.EntityName1
join [Entitiy] C
on B.EntityName2 = C.EntitiyName
where A.EntitiyName != C.EntitiyName;'''

In [4]:
cursor = conn.cursor()

In [5]:
cursor.execute(Insert_BusinessTerm_has_Attribute)
cursor.execute(Insert_Database_has_Attribute)
cursor.execute(Insert_Entitiy_has_Attribute)
cursor.execute(Insert_Entitiy_has_Database)
cursor.execute(Insert_Entitiy_has_Relations)

In [6]:
conn.commit()
cursor.close()